:root{
    --primaryColor: #061B2C;
    --seecondaryColor:#E4D574;
    --textColor:#776C0E;
}
body, html{
    overflow-x: hidden;
}
.sec-main .third{
    /* border: 1px solid red; */
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding-left: 20px;
}

.sec-main .third h2{
    color:var(--primaryColor);
    font-family: Inter;
    padding-left: 130px;
    opacity: 0.8;

}
.sec-main .featured-homes{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */

}
.home-card {
    margin-top: 30px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 20vw;
    padding: 0 20px 20px;
    background-color: #fff; 
    border-radius: 10px;
  }
  
  .home-card #type {
    background-color: var(--seecondaryColor);
    border-radius: 10px;
    color: #fff;
    font-family: 'Outfit', sans-serif; 
    font-weight: 600; 
    font-size: 16px;
    padding: 7px 20px;
    align-self: center;
    position: relative;
    top: -15px;
    /* z-index: 1; */
  }

  #card-img{
    align-self: center;
    cursor: pointer;
  }
  
  #card-img img {
    max-width: 100%;
    border-radius: 10px;
    height: 150px; 
  }
  
  #card-desc {
    margin-top: 10px; 

    font-family: "Montserrat", sans-serif;
    font-size: 16px;
  }
  
  #card-btm {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between; 
  }
  
  #card-btm div {
    flex: 1; 
    text-align: center; 
    padding: 10px 0; /* Add padding to the buttons */
    border-top: 1px solid #eee; /* Add a border between buttons */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  #card-btm div:first-child {
    border-left: none; 
  }
  
  #card-btm div:last-child {
    border-right: none; 
  }
  
  #card-btm div:hover {
    background-color: #f5f5f5;
  }

  /* styles for testimonals */
.testimonals-cont {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px; 
    align-items: center;
    text-align: center;
  }
  
  .testimonals-cont h2 {
    color: var(--textColor);
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
  }
  
  .testimonals-cont h1 {
    color: var(--primaryColor);
    font-family: "Montserrat", sans-serif;
    opacity: 0.8;
    font-size: 38px;
  }
  
  .test-cards {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    margin-top: 100px;

  }
  
  .test-box {
    background-color: rgba(51, 90, 139, 0.5);
    border-radius: 30px;
    width: 30vw;
    max-width: 400px;
    padding-bottom: 20px;
    gap:0;
    justify-items: center;
  }
  
  #test-img {
   top: -70px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .test-box img {
    max-width: 100%;
    width: 130px;
    height: 130px;
    border-radius: 50%;
  }
  .test-desc{
    /* border: 1px solid red; */
    position: relative;
    top:-30px;/
  }
  .test-box p,
  .test-box h3 {
    font-family: "Poetsen One", sans-serif;
    color: #fff;
    text-align: center;
    /* padding: 10px; */
    opacity: 0.9;
    font-weight: 400;
  }
  
  .test-box p {
    padding: 0px 30px 20px; 
    font-family: "Outfit";
  }
  
  .test-box span {
    color: var(--seecondaryColor);
    font-size: 28px;
    font-weight: bold; /* Fixed typo */
  }
  

  .gotoAction-container {
    /* background-image: linear-gradient(to right, #99ACC5, var(--secondaryColor)); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    justify-content: center;
    align-items: center;
    margin: 70px auto;
    height: auto;
    gap: 50px;
  }
  
  .gotoAction-container h1 {
    color: var(--textColor);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    line-height: 2rem;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .gotoAction-container p {
    color: var(--primaryColor);
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    line-height: 1.6;
    margin-bottom: 40px;
  }
  
  .gotoAction-container button {
    background-color: var(--primaryColor);
    
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 500;
    border: 0;
    font-size: 18px;
    padding: 15px 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  .gotoAction-container button#home{
    background-color: var(--seecondaryColor);
    
    border-radius: 20px;
    font-family: 'Outfit', sans-serif;
    color: #fff;
  }
  .gotoAction-container button:hover {
    opacity: 0.9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }


  /* no avaulable house message */
  .no-available-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 200px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #666;
    /* border:1px solid red; */
    margin: 0 auto;
  }
  
  .no-available-message p {
    text-align: center;
  }
  
  @media screen and (max-width:768px) {
    .sec-main .third{
        padding: 0;
    }
    .sec-main .third h2{
        font-size: 22px;
        padding: 20px;
        text-align: center;
    }
    .sec-main .featured-homes{
        flex-direction: column;
        align-items: center;
        gap:50px;

    }
    .home-card {
        width: 80vw;
        align-items: center;
        padding: 10px;
      }
      #card-desc {
        font-size: 14px;
    }
    #card-btm {
        align-self: stretch;
    }
    .home-card #type {
    top:-25px;
    }

    /* styles for testimonals */


    .test-cards {
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding: 90px;
        position: relative;
        width: 90vw;
       margin-top: 10px;
    }
    
    .testimonals-cont h2 {
        font-size: 24px;
    }
    .testimonals-cont h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
   
    .test-box {
        background-color: rgba(51, 90, 139, 0.5);
        border-radius: 30px;
        padding: 30px 100px ; 
        display: flex; /* Add display: flex */
        flex-direction: column; /* Add flex-direction: column */
        align-items: center; /* Center the content horizontally */
        text-align: center; /* Center the text */
        /* width: 100px; */
        height: auto;
    }
    .test-box p,
    .test-box h3 {
        text-align: justify;
        text-wrap: wrap;
        padding: 10px;
        width:40vw;
    }
    .test-box h3 {
        text-align: center;
    }
    #test-img {
        display: flex;
        justify-content: center;
        width: 100%; /* Add width: 100% */
        height: auto; /* Add height: auto */
        position: relative;
        top:-90px;
    }
    
    .test-box img {
        max-width: 100%; /* Add max-width: 100% */
        width: 150px;
        height: 130px;
        border-radius: 50%;
    }


    /* styles for go to action section */
    .gotoAction-container {
      width: 90vw;
      margin: 50px auto;
      background-image: none;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }
  
    .gotoAction-container h1 {
      font-size: 28px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
  
    .gotoAction-container p {
      font-size: 16px;
      width: 90%;
    }
  
    .gotoAction-container button {
      font-size: 16px;
      padding: 12px 50px;
    }

  }

  @media screen and (max-width:450px) {
    #test-img {
      
        top:-90px;
    }
    .test-box img {
       
        width: 130px;
        height: 120px;
    }
    .test-box p,
    .test-box h3 {
       font-size: 16px;
        width:60vw;
    }
  }

  @media screen and (max-width:350px) {
    #test-img {
      
        top:-80px;
    }
    .test-box img {
       
        width: 130px;
        height: 100px;
    }
    .test-box p,
    .test-box h3 {
       font-size: 16px;
        width:60vw;
    }
    .testimonals-cont h2 {
        font-size: 20px;
    }
    .testimonals-cont h1 {
        font-size: 24px;
        margin-bottom: 0px;
    }
   
  }